[Unit]
Description=VisitorLog

[Service]
WorkingDirectory=/home/VisitorLog/app
ExecStart=/usr/bin/dotnet /home/VisitorLog/app/VisitorLog.dll
StandardOutput=file:/home/VisitorLog/app/output.log
StandardError=file:/home/VisitorLog/app/error.log
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=VisitorLog
User=VisitorLog
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target